APP_NAME="ChatGPT CMS"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=sqlite
# DB_DATABASE=/absolute/path/to/database/database.sqlite

QUEUE_CONNECTION=database
CACHE_STORE=file
SESSION_DRIVER=file

PIXELKRAFT_REPO_ROOT=storage/repos
GITHUB_WEBHOOK_SECRET=
GITHUB_FINE_GRAINED_TOKEN=
